<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%- include ('../partials/head.ejs') %>
    </head>
    <body>
        <nav>
            <%- include ('../partials/nav.ejs') %>
        </nav>
            <h1>Evan's App</h1>

            <ul>
                <% for(let i = 0; i < scores.length; i++){ %>
                    <li>
                        <a href="/scores/<%=scores[i].id;%>">
                        <%=scores[i].course; %>
                        </a>

                        <form class="" action="/scores/<%=scores[i].id;%>?_method=DELETE" method="post">
                            <input type="submit" name="" value="DELETE">
                        </form>
                    </li>
                <% } %>
            </ul>

    </body>
</html>
