<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%- include ('../partials/head.ejs') %>
    </head>
    <body>
        <nav>
            <%- include ('../partials/nav.ejs') %>
        </nav>
        <div class="header">
            <a href="/scores/new">Post<br>New Score</a>
            <!-- Going to build a new route where you can look at other user's scores but cannot edit or delete -->
            <a href="/scores/new">View Scores</a>
        </div>

            <% if (currentUser) { %>
                <h2><%=currentUser.username%></h2>
                <ul>
                    <% for(let i = 0; i < scores.length; i++){ %>

                        <li>
                            <div class="left">
                                <a href="/scores/<%=scores[i].id;%>">
                                    <%=scores[i].date; %>
                                </a>
                            </div>
                            <div class="right">
                                <a href="/scores/<%=scores[i].id;%>">
                                    <%=scores[i].course; %>
                                </a>
                                |
                                <a href="/scores/<%=scores[i].id;%>">
                                    <%=scores[i].score; %>
                                </a>
                            </div>
                        </li>
                    <% } %>
                </ul>
                <div class="handicap">
                    <% const par = 72 %>
                    <% let total = scores.reduce((total, round) => { return total + round.score} , 0)%>
                    <span>Handicap: <%= (total / scores.length) - par %></span>
                </div>
            <% } %>

        <script src="/js/app.js" charset="utf-8"></script>
    </body>
</html>
