<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%- include ('../partials/head.ejs') %>
    </head>
    <body>
        <nav>
            <%- include ('../partials/nav.ejs') %>
        </nav>
            <% if (currentUser) { %>
                <ul>
                    <% for(let i = 0; i < scores.length; i++){ %>
                        <li>
                            <a href="/scores/<%=scores[i].id;%>">
                            <div>
                                <%=scores[i].course; %>
                            </div>
                            </a>
                            <a href="/scores/<%=scores[i].id;%>">
                            <div>
                                <%=scores[i].score; %>
                            </div>
                            </a>
                            <a href="/scores/<%=scores[i].id;%>">
                            <div>
                                <%=scores[i].date; %>
                            </div>
                            </a>


                        </li>
                    <% } %>
                </ul>
            <% } %>
            <a href="/scores/new">Post a New Score</a>
            <!-- Going to build a new route where you can look at other user's scores but cannot edit or delete -->
            <a href="/scores/new">View Scores</a>

    </body>
</html>
