<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%- include ('../partials/head.ejs') %>
    </head>
    <body>
        <nav>
            <%- include ('../partials/nav.ejs') %>
        </nav>
        <div class="main-container">
            <blockquote>
                <h1>Edit Round</h1>
                <form class="" action="/rounds/<%=round.id%>?_method=PUT" method="post">
                    <label for="course">course</label>
                    <input type="text" name="course" value="<%=round.course%>" /><br>
                    <label for="score">score</label>
                    <input type="text" name="score" value="<%=round.score%>"/><br>
                    <label for="tees">tees</label>
                    <input type="text" name="tees" value="<%=round.tees%>" /><br>
                    <label for="date">date</label>
                    <input type="text" name="date" value="<%=round.date%>" /><br>
                    <br>
                    <input type="submit" name="" value="Submit Log">
                </form>
            </blockquote>
        </div>

        <script src="/js/app.js" charset="utf-8"></script>
    </body>
</html>
