<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%- include ('../partials/head.ejs') %>
    </head>
    <body>
        <nav>
            <%- include ('../partials/nav.ejs') %>
        </nav>
        <div class="main-container">
            <blockquote>
                <h1>Edit Round</h1>
                <form class="" action="/rounds/<%=round.id%>?_method=PUT" method="post">
                    <!-- <label for="course">course</label> -->
                    <div class="form">
                        <fieldset>
                            <legend>Course</legend>
                            <select id = "courseList" name="course">
                               <option value = "home">home</option>
                               <option value = "away">away</option>
                            </select>
                        </fieldset>
                        <fieldset>
                            <legend>Tees</legend>
                            <select id = "teesList" name="tees">
                               <option value = "back">back</option>
                               <option value = "middle">middle</option>
                               <option value = "forward">forward</option>
                            </select>
                        </fieldset>
                    </div>
                    <div class="form">
                        <fieldset>
                            <legend>Score</legend>
                            <input type="text" name="score" value="<%=round.score%>"/>
                        </fieldset>
                        <fieldset>
                            <legend>Date</legend>
                            <input type="date" name="date" value="<%=round.date%>"/>
                        </fieldset>
                    </div>
                    <input type="submit" class="submit-btn" value="Submit Log">
                </form>
            </blockquote>
        </div>
        <footer>
            <%- include ('../partials/footer.ejs') %>
        </footer>

        <script src="/js/app.js" charset="utf-8"></script>
    </body>
</html>
