<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%- include ('../partials/head.ejs') %>
    </head>
    <body>

        <nav>
            <%- include ('../partials/nav.ejs') %>
        </nav>
        <div class="main-container">
            <h1>Round info</h1>
            <div class="round-info">
                <div>
                    <span>Course:</span>
                    <br>
                    <%=round.course; %>
                </div>
                <div>
                    <span>Score:</span>
                    <br>
                    <%=round.score; %>
                </div>
                <div>
                    <span>Date:</span>
                    <br>
                    <%=round.date; %>
                </div>
                <!-- input a scorecard with individual information or something possibly -->
                <a href="/rounds/<%=round.id%>/edit">Edit Round</a>
            </div>

            <form class="" action="/rounds/<%=round.id;%>?_method=DELETE" method="post">
                <input type="submit" name="" value="DELETE">
            </form>
        </div>

        <script src="/js/app.js" charset="utf-8"></script>
    </body>
</html>
