<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%- include ('../partials/head.ejs') %>
    </head>
    <body>

        <nav>
            <%- include ('../partials/nav.ejs') %>
        </nav>
        <div class="main-container">
            <h1>Round info</h1>
            <div class="round-info">
                <div>
                    <span>Course:</span>
                    <%=round.course.charAt(0).toUpperCase() + round.course.slice(1) %>
                </div>
                <div>
                    <span>Score:</span>
                    <%=round.score; %>
                </div>
                <div>
                    <span>Date:</span>
                    <%=round.date; %>
                </div>
                <!-- input a scorecard with individual information or something possibly -->
            </div>
            <div class="edit-delete">
                <a href="/rounds/<%=round.id%>/edit" class="edit-btn">EDIT</a>
                <form class="" action="/rounds/<%=round.id;%>?_method=DELETE" method="post">
                    <input type="submit" class="submit-btn" value="DELETE">
                </form>
            </div>

        </div>

        <script src="/js/app.js" charset="utf-8"></script>
    </body>
</html>
